<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/f07d1e9ea8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="container__icon">
                <i class="fa-regular fa-circle"></i>
                <h2>Trafalgar</h2>
            </div>
            <div class="container__list">
                <ul class="container__list-items">
                    <li class="container__list-items-active">Home</li>
                    <li>Find a doctor</li>
                    <li>Apps</li>
                    <li>Testimonials</li>
                    <li>About us</li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="header">
        <div class="container">
            <div class="container__info">
                <h1 class="main-header">
                    Virtual healthcare for you
                </h1>
                <p>Trafalgar provides progressive, and affordable
                    healthcare, accessible on mobile and online
                    for everyone</p>
                <a href="#"><button class="header__button">Consult today</button></a>
            </div>
            <img src="pics/1.png" alt="healthcare" class="header__img">
        </div>
    </header>
    <section class="services">
        <div class="services__container">
            <h3>Our services</h3>
            <hr>
            <p class="services__text">We provide to you the best choiches for you. Adjust it to your health needs and
                make sure your undergo treatment with our highly qualified doctors you can consult with us which type of
                service is suitable for your health</p>
            <div class="info-cards">
                <div class="info-cards-divs">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h4>Serach doctor</h4>
                    <p>Choose your doctor from thousands of specialist, general, and trusted hospitals</p>
                </div>
                <div class="info-cards-divs">
                    <i class="fa-solid fa-jar"></i>
                    <h4>Online pharmacy</h4>
                    <p>Buy your medicines with our mobile application with a simple delivery system</p>
                </div>
                <div class="info-cards-divs">
                    <i class="fa-solid fa-tablet-screen-button"></i>
                    <h4>Consultation</h4>
                    <p>Free consultation with our trusted doctors and get the best recomendations</p>
                </div>
                <div class="info-cards-divs">
                    <i class="fa-regular fa-clipboard"></i>
                    <h4>Details info</h4>
                    <p>Free consultation with our trusted doctors and get the best recomendations</p>
                </div>
                <div class="info-cards-divs">
                    <i class="fa-solid fa-suitcase-medical"></i>
                    <h4>Emergency care</h4>
                    <p>You can get 24/7 urgent care for yourself or your children and your
                        lovely family</p>
                </div>
                <div class="info-cards-divs">
                    <i class="fa-solid fa-file-medical"></i>
                    <h4>Tracking</h4>
                    <p>Track and save your medical history and health data </p>
                </div>
            </div>
            <a href="#"><button class="services__button">Learn more</button></a>
        </div>

    </section>
    <!--tjis section is complex looking flex-container-->
    <section class="info">
        <div class="info__container">
            <div class="info__container-text  first">
                <img src="pics/3.png" alt="pharmaceutical-consultation">
                <h3>Leading healthcare providers</h3>
                <hr>
                <p>Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for
                    everyone. To us, it’s not just work. We take pride
                    in the solutions we deliver</p>
                <button class="info__container-text-button">
                    Learn more
                </button>
            </div>
            <div class="info__container-text">
                <h3>Download our
                    mobile apps</h3>
                <hr>
                <p>Our dedicated patient engagement app and
                    web portal allow you to access information instantaneously (no tedeous form, long calls,
                    or administrative hassle) and securely</p>
                <button class="info__container-text-button">
                    Download <i class="fa-solid fa-arrow-down"></i>
                </button>
                <img src="pics/2.png" alt="pharmacy help">

            </div>
        </div>
    </section>
    <!--this section will consist of blue customer info container and card that come after it-->
    <!-- <section class="card">
        <div class="cards__container">
            <h3>
                What our customer are saying
            </h3>
            <hr>
            <div class="cards__container-customer">
                <img src="pics/4.png" alt="customer">
                <span>
                    <h3>Edward Newgate </h3>
                    <p>Founder Circle</p>
                </span>
                <p>“Our dedicated patient engagement app and
                    web portal allow you to access information instantaneously<br> (no tedeous form, long calls,
                    or administrative hassle) and securely”</p>
            </div>
        </div>
    </section>-->
    <section class="articles">
        <div class="art__cards">
            <h3>Check out our latest article</h3>
            <hr>
            <div class="articles__cards-info">
                <div class="card">
                    <img src="pics/5.png" alt="blood preasure check">
                    <h5>Disease detection, check
                        up in the laboratory</h5>
                    <p>In this case, the role of the health laboratory is very important to do
                        a disease detection...</p>
                    <a href="#">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="card">
                    <img src="pics/6.png" alt="scientist guy">
                    <h5>Herbal medicines that are
                        safe for consumption</h5>
                    <p>Herbal medicine is very widely used at this time because of its very good for your health...
                    </p>
                    <a href="#">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="card">
                    <img src="pics/7.png" alt="spa vibes">
                    <h5>Natural care for healthy
                        facial skin</h5>
                    <p>A healthy lifestyle should start from now and also for your skin health.
                        There are some...</p>
                    <a href="#">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <button class="articles__cards-info-button">View all</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="footer__icon">
                <i class="fa-regular fa-circle"></i>
                <h4>Trafalgar</h4>
            </div>
            <div class="footer__info">
                <p>Trafalgar provides progressive, and affordable healthcare,<br> accessible on mobile and online
                    for everyone</p>
                <p>©Trafalgar PTY LTD 2020. All rights reserved</p>
            </div>
        </div>
        <div class="container">
            <div class="company">
                <h3>Company</h3>
                <p>About</p>
                <p>Testimonials</p>
                <p>Find a doctor</p>
                <p>Apps</p>
            </div>
            <div class="company">
                <h3>Region</h3>
                <p>Indonesia</p>
                <p>Singapore</p>
                <p>Hongkong</p>
                <p>Canada</p>
            </div>
            <div class="company">
                <h3>Help</h3>
                <p>Help center</p>
                <p>Contact support</p>
                <p>Instructions</p>
                <p>How it works</p>
            </div>
        </div>
    </footer>
</body>

</html>